%container
  .jumbotron
    %h2
      Yay Confirmed!!
      %hr
      %p= "Congratulations #{@full_name}. Your application has been submitted. We will now review it, and get back to you within 3-5 business days."
      %hr
      %p
        = link_to "View your information.",applicant_path(current_applicant), class: 'btn btn-primary btn-lg'